<%- include("partials/header")-%>
    <!-- // as now we have shifted the files it the partials folder in the views -->

    <h1>Your INdividual Blog</h1>
    <h1>
        <%= blog.title %>
    </h1>
    <p>
        <%= blog.content %>
    </p>
<h1> 
    <%= blog.date %>
</h1>
<h1><%= blog.status %> </h1>
<a href="/editposts/<%= blog._id%>">Edit</a>
    <%- include("partials/footer")-%>
